In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression, SGDRegressor, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('RecoveryTimeDataset.csv')
data

,Id,LengthOfStay,ReadmissionCount,Gender,FacilityId,HeartAilments,PyschologicalAilments,SubstanceAbuseHistory,BMI,ABG,Pulse,SecondaryDiagnosis
0,13564856412,4.0,NaN,M,1853,0,True,None,29.4,143.0,74.0,1.0
1,13564856413,5.0,1.0,F,5288,0,False,None,25.3,128.0,78.0,3.0
2,13564856414,3.0,2.0,F,1338,0,False,None,32.7,152.0,64.0,2.0
3,13564856415,6.0,1.0,F,4964,0,True,None,31.1,165.0,105.0,1.0
4,13564856416,5.0,NaN,M,7593,0,False,None,32.4,111.0,53.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10996,13564867408,NaN,2.0,M,3019,0,False,Yes,27.6,107.0,83.0,2.0
10997,13564867409,NaN,NaN,F,9036,0,False,None,26.5,133.0,69.0,2.0
10998,13564867410,NaN,1.0,F,1486,0,False,Yes,28.5,177.0,108.0,2.0
10999,13564867411,NaN,3.0,F,2590,0,False,Yes,NaN,138.0,NaN,2.0
11000,13564867412,NaN,1.0,M,3765,0,False,NaN,NaN,182.0,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11001 entries, 0 to 11000
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     11001 non-null  int64
 1   LengthOfStay           10003 non-null  float64
 2   ReadmissionCount       5430 non-null   float64
 3   Gender                 11001 non-null  object
 4   FacilityId             11001 non-null  int64
 5   HeartAilments          11001 non-null  int64
 6   PyschologicalAilments  11001 non-null  bool
 7   SubstanceAbuseHistory  10609 non-null  object
 8   BMI                    10999 non-null  float64
 9   ABG                    11001 non-null  float64
 10  Pulse                  10999 non-null  float64
 11  SecondaryDiagnosis     10762 non-null  float64
dtypes: bool(1), float64(6), int64(3), object(2)
memory usage: 956.3+ KB

In [5]:
data.drop(['Id', 'FacilityId', 'ReadmissionCount', 'Gender'], axis=1, inplace=True)
data

,LengthOfStay,HeartAilments,PyschologicalAilments,SubstanceAbuseHistory,BMI,ABG,Pulse,SecondaryDiagnosis
0,4.0,0,True,None,29.4,143.0,74.0,1.0
1,5.0,0,False,None,25.3,128.0,78.0,3.0
2,3.0,0,False,None,32.7,152.0,64.0,2.0
3,6.0,0,True,None,31.1,165.0,105.0,1.0
4,5.0,0,False,None,32.4,111.0,53.0,NaN
...,...,...,...,...,...,...,...,...
10996,NaN,0,False,Yes,27.6,107.0,83.0,2.0
10997,NaN,0,False,None,26.5,133.0,69.0,2.0
10998,NaN,0,False,Yes,28.5,177.0,108.0,2.0
10999,NaN,0,False,Yes,NaN,138.0,NaN,2.0
11000,NaN,0,False,NaN,NaN,182.0,NaN,NaN

In [6]:
data.dropna(inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9433 entries, 0 to 10002
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LengthOfStay           9433 non-null   float64
 1   HeartAilments          9433 non-null   int64
 2   PyschologicalAilments  9433 non-null   bool
 3   SubstanceAbuseHistory  9433 non-null   object
 4   BMI                    9433 non-null   float64
 5   ABG                    9433 non-null   float64
 6   Pulse                  9433 non-null   float64
 7   SecondaryDiagnosis     9433 non-null   float64
dtypes: bool(1), float64(5), int64(1), object(1)
memory usage: 598.8+ KB

In [8]:
data.SubstanceAbuseHistory.value_counts()

None    8099
Yes     1334
Name: SubstanceAbuseHistory, dtype: int64

In [9]:
data['SubstanceAbuseHistory'].replace(['None', 'Yes'], [0, 1], inplace=True)
data

,LengthOfStay,HeartAilments,PyschologicalAilments,SubstanceAbuseHistory,BMI,ABG,Pulse,SecondaryDiagnosis
0,4.0,0,True,0,29.4,143.0,74.0,1.0
1,5.0,0,False,0,25.3,128.0,78.0,3.0
2,3.0,0,False,0,32.7,152.0,64.0,2.0
3,6.0,0,True,0,31.1,165.0,105.0,1.0
5,5.0,0,False,0,31.2,175.0,44.0,3.0
...,...,...,...,...,...,...,...,...
9998,3.0,0,False,0,29.7,162.0,84.0,2.0
9999,6.0,0,False,0,25.5,179.0,86.0,2.0
10000,13.0,0,False,1,30.6,219.0,82.0,2.0
10001,6.0,0,False,0,29.0,146.0,74.0,7.0
10002,2.0,0,False,0,32.3,146.0,74.0,5.0

In [10]:
data.PyschologicalAilments.value_counts()

False    8909
True      524
Name: PyschologicalAilments, dtype: int64

In [11]:
data['PyschologicalAilments'].replace([False, True], [0, 1], inplace=True)
data

,LengthOfStay,HeartAilments,PyschologicalAilments,SubstanceAbuseHistory,BMI,ABG,Pulse,SecondaryDiagnosis
0,4.0,0,1,0,29.4,143.0,74.0,1.0
1,5.0,0,0,0,25.3,128.0,78.0,3.0
2,3.0,0,0,0,32.7,152.0,64.0,2.0
3,6.0,0,1,0,31.1,165.0,105.0,1.0
5,5.0,0,0,0,31.2,175.0,44.0,3.0
...,...,...,...,...,...,...,...,...
9998,3.0,0,0,0,29.7,162.0,84.0,2.0
9999,6.0,0,0,0,25.5,179.0,86.0,2.0
10000,13.0,0,0,1,30.6,219.0,82.0,2.0
10001,6.0,0,0,0,29.0,146.0,74.0,7.0
10002,2.0,0,0,0,32.3,146.0,74.0,5.0

In [12]:
X = data.drop(['LengthOfStay'], axis=1)
y = data['LengthOfStay']

In [13]:
#--------------Spliting training and testing data----------------------
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [14]:
#-------------Linear_regression---------------- 
model = LinearRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predict))
r2 = r2_score(y_test, y_predict)

print("RMSE:", rmse)
print("R2:", r2)

RMSE: 3.3923949029711027
R2: 0.0014999076383761523

In [15]:
#--------------Saving output to CSV file-----------
x_test_data = pd.DataFrame(X_test)
y_test_data = pd.DataFrame({'Actual LengthOfStay': y_test})
test_data = x_test_data.join(y_test_data)

y_predicted_data = pd.DataFrame({'Predicted LengthOfStay': y_predict})
csv_data = test_data.join(y_predicted_data)
csv_data.fillna('Nan', inplace=True)
csv_data.to_csv('Group 3.csv', index=False)

In [16]:
#----------------SGD regression---------------------------------------------
SGD_reg = SGDRegressor(max_iter=10000, tol=0.001,penalty=None,alpha=1,n_iter_no_change=20)
SGD_reg.fit(X_train, y_train)
y_predict = SGD_reg.predict(X_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_predict)))
r2 = r2_score(y_test, y_predict)

print("RMSE:", rmse)
print("R2:", r2)

RMSE: 3982257551517.9297
R2: -1.3759225688710835e+24

In [17]:
#------------------ridge--------------

ridge = Ridge(alpha=1)
ridge.fit(X_train, y_train)
y_predict = ridge.predict(X_test)
r2 = r2_score(y_test, y_predict)

print("RMSE:", rmse)
print("R2:", r2)

RMSE: 3982257551517.9297
R2: 0.0015008381379623126

In [18]:
#------------------Lasso-------------

lasso = Lasso(alpha=1)
lasso.fit(X_train, y_train)
y_predict = lasso.predict(X_test)
r2 = r2_score(y_test, y_predict)

print("RMSE:", rmse)
print("R2:", r2)

RMSE: 3982257551517.9297
R2: -0.0004856394768675276